html, body {
    background-image: url('myImgs/castle.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#myName {
    color: #707070;
    text-shadow: 5px 4px 0 #eee,7px 6px 0 #707070;
    font-size: 60px;
    position: relative;
    top: 30px;
}

#myFace {
	margin-left: 12%; 
	margin-top: 20%;
	border-radius: 5px;
	float: left;
}

#abt_me-text {
	margin-top: 12%;
}

#linkedn {
	margin-left: 12%;
	padding-top: 10%;
}

#octocat {
	margin-left: 22%;
	margin-top: 10%;
}

#gittext {
	margin-left: 34%; 
	padding-bottom: 8%;
	line-height: 90%;
}

#glass-sm {
	top: 50%;
	left: -5px;
	position: fixed;
	display: block;
	background-color: white;
   opacity: 0.8;
   background-size: cover;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}

#glass-lg {	
	position: relative;
    display: block;
    background:rgba(255,255,255, 0.6);
    background-size: cover;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.tab-wrapper {
    display: block;
    position: relative;
}

.tab-wrapper ul.tab-title {
    clear: both;
    font-size: 25px;
}

.tab-wrapper ul.tab-title li:hover {
   
}

.tab-wrapper ul.tab-title li span {
}

.tab-wrapper .tab-container {
    clear: both;
    float: left;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.tab-wrapper .tab-container > div {
    display: none;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
}

.tab-wrapper .tab-container > div.active {
    display: block;
}